@using ZooParadise.Core.Models.Pet
@model PetModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <input type="hidden" asp-for="@Model.Id" />
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Title...">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Age"></label>
                <input asp-for="Age" class="form-control" placeholder="ArtistName...">
                <span asp-validation-for="Age" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender"></label>
                <select asp-for="Gender" class="form-control">
                    @foreach (var gender in Model.Genders)
                    {
                        <option value="@gender.Id">@gender.Name</option>
                    }
                </select>
                <span asp-validation-for="Gender" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" placeholder="Price...">
                <span asp-validation-for="Price" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" placeholder="Description...">
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colour"></label>
                <select asp-for="Colour" class="form-control">
                    @foreach (var colour in Model.Colours)
                    {
                        <option value="@colour.Id">@colour.Name</option>
                    }
                </select>
                <span asp-validation-for="Colour" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="Your fine URL here...">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnimalType"></label>
                <select asp-for="AnimalType" class="form-control">
                    @foreach (var type in Model.AnimalTypes)
                    {
                        <option value="@type.Id">@type.Name</option>
                    }
                </select>
                <span asp-validation-for="AnimalType" class="small text-danger"></span>
            </div>
            
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>